TZ=America/Sao_Paulo
PGID=
PUID=

# Shared Data
SHARED_DATA=

# Duplicati
DUPLICATI_DATA=
DUPLICATI_BACKUPS=

# Resilio Sync configs
RESILIO_DATA=

# Syncthing
SYNCTHING_DATA=

# File Brower
FILEBROWER_DATA=
