---
services:
  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    # ports:
    #   - 9000:9000
    #   - 9001:9001
    networks:
      - server-backend
    volumes:
      - ${DOCKER_DATA}:/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.minio.entrypoints=https
      - traefik.http.routers.minio.rule=Host(`minio.${SERVER}.${DOMAIN}`)
      - traefik.http.routers.minio.tls=true
      - traefik.http.services.minio.loadbalancer.server.port=9000
      - traefik.http.routers.minio.tls.certresolver=cloudflare
      - traefik.http.routers.minio.service=minio
      - traefik.http.routers.minioui.rule=Host(`minioui.${SERVER}.${DOMAIN}`)
      - traefik.http.routers.minioui.tls=true
      - traefik.http.services.minioui.loadbalancer.server.port=9001
      - traefik.http.routers.minioui.tls.certresolver=cloudflare
      - traefik.http.routers.minioui.service=minioui
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}

networks:
  server-backend:
    external: true
