---
services:
  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    command: server standalone --worker-thread=16 --config config.yaml
    restart: always
    pull_policy: always
    user: "root"
    volumes:
      - ${DOCKER_DATA}/kestra:/app/storage
      - ./config/config.yaml:/app/config.yaml:ro
      - ./scripts:/app/scripts
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
    environment:
      - SECRET_SSH_KEY=${SECRET_SSH_KEY}
      - SECRET_TELEGRAM_BOT_TOKEN=${SECRET_TELEGRAM_BOT_TOKEN}
      - SECRET_TELEGRAM_CHAT_ID=${SECRET_TELEGRAM_CHAT_ID}
    env_file:
      - .env
    # ports:
    #   - 8080:8080
    #   - 8081:8081
    networks:
      - server-backend
    labels:
      - traefik.enable=true
      - traefik.http.routers.kestra.entrypoints=https
      - traefik.http.routers.kestra.rule=Host(`kestra.${SERVER}.${DOMAIN}`)
      - traefik.http.routers.kestra.tls=true
      - traefik.http.services.kestra.loadbalancer.server.port=8080
      - traefik.http.routers.kestra.tls.certresolver=cloudflare
      - traefik.http.routers.kestra.service=kestra

networks:
  server-backend:
    external: true
