# MinIO Configuration
minio_endpoint = "https://minio.yourdomain.com"

# Local NAS Configuration
local_nas = "{\"IP\":\"<local-nas-ip>\",\"PATH\":\"/your-disk-path/*\",\"USER\":\"<local-nas-user>\"}"

# PiHole Sync Configuration
pihole_sync = "{\"PIHOLE_IP\":\"<pihole-1-ip>\",\"PIHOLE_USER\":\"<pihole-1-user>\",\"PIHOLE_KEY\":\"<path/to/ssh-key>\",\"PIHOLE_2_IP\":\"<pihole-2-ip>\",\"PIHOLE_2_USER\":\"<pihole-2-user>\",\"PIHOLE_2_KEY\":\"<path/to/ssh-key>\",\"PIHOLE_2_ADDR\":\"<user>@<pihole-2-ip>\",\"PIHOLE_3_ADDR\":\"<user>@<pihole-3-ip>\",\"PIHOLE_3_USER\":\"<pihole-3-user>\",\"PIHOLE_3_IP\":\"<pihole-3-ip>\",\"BACKUP\":\"<path/to/backup/>\"}"

# OpenRouter API (optional)
openrouter_api = "https://openrouter.ai/api/v1"
grafana_url    = "https://grafana.yourdomain.com"
