DOMAIN=yourdomain.com

PROXMOX_VE_ENDPOINT=https://your-proxmox-host:8006
PROXMOX_VE_USERNAME=root@pam
PROXMOX_VE_PASSWORD="your-proxmox-password"
PROXMOX_VE_SSH_USERNAME=root
PROXMOX_VE_SSH_PRIVATE_KEY="<path/to/ssh-key>"
AUTHENTIK_INSECURE=true

intern_cidr="<ip-cidr>"
