proxmox_node_name = "<your-proxmox-node-name>"

cloudflare_email = "your@email.com"

cloudflare_api_token = "your-cloudflare-api-token"

dns = ["<pihole-1-ip>", "<pihole-2-ip>"]

influxdb_host = "<influxdb-ip>"

influxdb_token = "your-influxdb-token"

intern_cidr = "<cidr>"
intern_gw   = "<gateway-ip>"

acl_path = "<path>"
acl_role = "<role>"
