---
services:
  syncthing:
    image: syncthing/syncthing:latest
    hostname: server-syncthing
    container_name: syncthing
    restart: always
    deploy:
      resources:
        limits:
          memory: 2048M
    volumes:
      - ${DOCKER_DATA}/syncthing/config:/var/syncthing
      - ${SHARED_DATA}:/sync/sata
      - ${PROJECT_DATA}:/sync/projects
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
    ports:
      # - 8384:8384
      - 22000:22000
      - 21027:21027
    networks:
      - server-backend
    labels:
      - traefik.enable=true
      - traefik.http.routers.syncthing.entrypoints=https
      - traefik.http.routers.syncthing.rule=Host(`syncthing.${SERVER}.${DOMAIN}`)
      - traefik.http.routers.syncthing.tls=true
      - traefik.http.services.syncthing.loadbalancer.server.port=8384
      - traefik.http.routers.syncthing.tls.certresolver=syncthing

networks:
  server-backend:
    external: true
