---
services:
  telegraf:
    image: telegraf:latest
    container_name: telegraf
    hostname: ${SERVER}
    restart: always
    user: telegraf:996
    entrypoint: /bin/bash -c "/entrypoint.sh telegraf"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /:/hostfs:ro
    env_file:
      - .env
    environment:
      - HOST_ETC=/hostfs/etc
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
      - HOST_MOUNT_PREFIX=/hostfs
    networks:
      - server-telegraf

networks:
  server-telegraf:
