locals {
  ssh_key        = "<SSH_PRIVATE_KEY>"
  omv_ip         = "<OMV_IP>"
  omv_user       = "<OMV_USER>"
  proxmox_ip     = "<PROXMOX_IP>"
  proxmox_user   = "<PROXMOX_USER>"
  db_ip          = "<DATABASE_IP>"
  db_user        = "<DATABASE_USER>"
  destroyer_ip   = "<DESTROYER_IP>"
  destroyer_user = "<DESTROYER_USER>"
  dev_ip         = "<DEV_IP>"
  dev_user       = "<DEV_USER>"
  tie_ip         = "<TIE_IP>"
  tie_user       = "<TIE_USER>"
}
