locals {
  public_keys = ["<SSH_PUBLIC_KEY_1>", "<SSH_PUBLIC_KEY_2>"]
  kube1_config = {
    # Network configuration
    vmbr0_ip = "<KUBE1_VM_IP_CIDR>"
    vmbr0_gw = "<GATEWAY_IP>"
  }
  kube2_config = {
    # Network configuration
    vmbr0_ip = "<KUBE2_VM_IP_CIDR>"
    vmbr0_gw = "<GATEWAY_IP>"
  }
  kube3_config = {
    # Network configuration
    vmbr0_ip = "<KUBE3_VM_IP_CIDR>"
    vmbr0_gw = "<GATEWAY_IP>"
  }
}
