---
- hosts: "{{ hosts | default([]) }}"
  collections:
    - community.docker

  tasks:
    - name: Prune non-dangling, and dangling images
      community.docker.docker_prune:
        containers: false
        images: true
        images_filters:
          dangling: true
        networks: true
        volumes: true
        builder_cache: true
