# General
TZ=America/Sao_Paulo
CERTS_PATH=

# Volumes
MYSQL_DATA=
POSTGRES_DATA=
REDIS_DATA=
MONGO_DATA=
INFLUX_DATA=

# SSL Certificates
INFLUX_CERTIFICATE=
INFLUX_PRIVATE_KEY=
INFLUX_CA_CERTIFICATE=
EXPRESS_CERTIFICATE=
EXPRESS_PRIVATE_KEY=
POSTGRES_CERTIFICATE=
POSTGRES_PRIVATE_KEY=

# Mysql
MYSQL_USER=root
MYSQL_PASSWORD=password

# Postgres
POSTGRES_PASSWORD=password
POSTGRES_AUTH=trust

# Mongo
EXPRESS_USER=root
EXPRESS_PASSWORD=password
EXPRESS_SSL=false
MONGO_USER=root
MONGO_PASSWORD=password
MONGO_PORT=27017
MONGO_SERVER=mongo

# Redis

# Influx
INFLUX_USER=root
INFLUX_PASSWORD=password
INFLUX_ORG=homelab
INFLUX_BUCKET=teste
INFLUX_TOKEN=password
INFLUX_MODE=setup
