locals {
  # PiHole 2 Configuration
  pihole2_config = {
    # Network configuration
    vmbr0_ip  = "<PIHOLE2_VM_IP_CIDR>"
    vmbr0_gw  = "<GATEWAY_IP>"
    intern_ip = "<PIHOLE2_INTERNAL_IP_CIDR>"
    intern_gw = "<INTERNAL_GATEWAY_IP>"

    public_keys = ["<SSH_PUBLIC_KEY_1>", "<SSH_PUBLIC_KEY_2>"]
  }

  pihole_config = {
    # Network configuration
    vmbr0_ip  = "<PIHOLE_VM_IP_CIDR>"
    vmbr0_gw  = "<GATEWAY_IP>"
    intern_ip = "<PIHOLE_INTERNAL_IP_CIDR>"
    intern_gw = "<INTERNAL_GATEWAY_IP>"

    public_keys = ["<SSH_PUBLIC_KEY_1>", "<SSH_PUBLIC_KEY_2>"]
  }

  destroyer_config = {
    vmbr0_ip   = "<DESTROYER_VM_IP_CIDR>"
    vmbr0_gw   = "<GATEWAY_IP>"
    intern_ip  = "<DESTROYER_INTERNAL_IP_CIDR>"
    intern_gw  = "<INTERNAL_GATEWAY_IP>"
    proxmox_mp = "<PROXMOX_MOUNT_PATH>"
    lxc_path   = "<LXC_PATH>"
    tun_path   = "<TUN_DEVICE_PATH>"

    public_keys = ["<SSH_PUBLIC_KEY_1>", "<SSH_PUBLIC_KEY_2>"]
  }
}
