services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: falcon-pihole
    restart: always
    volumes:
      - ${PIHOLE_DATA}:/etc/pihole
      - ${DNS_DATA}:/etc/dnsmasq.d
    environment:
      TZ: ${TZ}
      WEBPASSWORD: ${PIHOLE_PASSWORD}
      PIHOLE_PORT: 80
    networks:
      server_pihole:
        ipv4_address: 192.168.0.2

networks:
  server_pihole:
    external: true
